<nav>
    <!-- <a class="nav-link" routerLink="#"><span>
      <input type="text"placeholder="Search..." class="form-control">  
      
      </span></a> -->
  <!-- <a class="nav-link" routerLink="#"><span>
    <i class="material-icons">
      group  
    </i>Friends
  </span></a>
  

  <a class="nav-link" routerLink="#"><span>
      <i class="material-icons">
          notification_important
      </i>Notification
  </span></a>
  <a class="nav-link" routerLink="/posts"><span>
      <i class="material-icons">
        add_box
      </i>Posts</span></a>
  <a class="nav-link" routerLink="#"><span>
    <i class="material-icons">
      power_settings_new
    </i>LogOut</span></a>
  <a class="nav-link" routerLink="/chat-room">Chat-Room</a>
  <a class="nav-link" routerLink="#">Link 2</a>
</nav> -->
<ul>
  
  <!-- <li routerLink="/active-frd"> <i class="material-icons">
    group  
  </i><span>Friends</span></li> -->
  <li routerLink="/profile"> <i class="material-icons" >
      account_circle
  </i><span>Profile</span></li>
  <li routerLink="/posts"> <i class="material-icons" >
      perm_media
    </i><span>Posts</span></li>
  <li routerLink="/chat-room"> <i class="material-icons">
    question_answer
  </i><span>Chat Room</span></li>
  <li routerLink="/signin"><i class="material-icons" >
    power_settings_new
  </i><span>LogOut</span></li>
  <li></li>
  <li></li>
  <li></li>

</ul>