/* .cont{
    position: relative;
    left: 250px;
}
.input-group{
    margin-top:10px ;
}
i{
    text-align: center;

}
button{
    background-color: rgb(20, 162, 245);
    outline: none;
    border-radius: 4px;
    border: none;
    padding-top: 5px;
    width: 100%;
}
.input-group-addon{
    margin-left: 2px;
    height: 65px;
    width: 100px;
} */
