
.box{width: 300px;
    height: 400px;
   padding-top: 40px;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 12%);
    background-color: rgb(23, 49, 105);
    text-align: center;
    opacity: .90;
    font-family: sans-serif;
    }
    .box h2{color: white;
    text-transform: uppercase;
    padding-bottom: 12px;
          }

 .box input[type='text'],
 .box input[type='password'],
 .box input[type='email'] {
            border: 0;
            background: none;
            display: block;
            margin: 10px auto;
            text-align: center;
            padding: 10px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            border: 1px solid green;
            transition: .50s
 }
 .box input[type='text']:hover,
      .box input[type='password']:hover,
      .box input[type='email']:hover {
        width: 250px;
        border-color: white;
      }
      button{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 100px;
        outline: none;
        color: white;
        border-radius: 24px;
        border: 1px solid green;
        transition: .50s
      }
      button:hover{
          background-color: green;
          border-color:white ;
          width:110px
        }
        #bg{ min-height: 380px;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;}
          