*{margin:0;}
#bg{ min-height: 380px;
     width:1060px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
    position: relative;}
    .box{width: 300px;
        height: 400px;
       padding-top: 40px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, 12%);
        background-color: rgb(23, 49, 105);
        text-align: center;
        opacity: .90;
        font-family: sans-serif;
        }