<nav class="navbar navbar-expand bg-light navbar-light t">
  <ul class="navbar-nav n">
    <li class="nav-item i">
      <a routerLink="/header" class="nav-link"
        ><i class="material-icons" >
          home
        </i></a
      >
    </li>
    <li class="nav-item i">
      <a routerLink="/profile" class="nav-link" 
        ><i class="material-icons">
            account_circle
        </i></a
      >
    </li>
   
    <li class="nav-item i">
      <a routerLink="/chat-room" class="nav-link" 
        ><i class="material-icons">
            question_answer
        </i></a
      >
    </li>
    <li class="nav-item i">
      <a class="nav-link image-upload"  routerLink="/posts">
        <label for="file-input">
          <i class="material-icons">
            add_box
          </i>
        </label>
      
      </a>
    </li>
  </ul>
</nav>
